<%# -*- coding: utf-8 -*- %>
<p><%= plysnm %>さん、 <%= plygnm %>さん

<p>対局(<%= gameid %>)が<%= nowstr %>に終局しました。

<p><a href=<%= url %>><%= url %></a>

<p><img src="<%= bulid_svgurl %>">

<p>attached:<%= filename %>
