<%# -*- coding: utf-8 -*- %>
<label>
 <input type='checkbox' id='hifumineye' onclick='check_hifumin_eye();'<%= ' checked' if @mif.playerw.id == @userinfo.user_id %> />ひふみんアイ
</label>
<span style='display:none;' id='sfen_'><%= @mif.sfen %></span>
<input type='hidden' id='lastmove' value='<%= @mif.lastmove %>'/>
<input type='hidden' id='isfinished' value='<%= @mif.finished %>'/><BR>
<% if @mif.finished %>
<input type='hidden' id='myteban' value='<%= @mif.turnex %>'/>
<% elsif @mif.playerb.id == @userinfo.user_id %>
<input type='hidden' id='myteban' value='b'/>
<% elsif @mif.playerw.id == @userinfo.user_id %>
<input type='hidden' id='myteban' value='w'/>
<% else %>
<input type='hidden' id='myteban' value='0'/>
<% end %>

<span id='tebaninfo'>手番情報</span>
<input type='image' src='./image/resignbtn.svg' alt='投了(resign)' title='投了(resign)' id='btn_resign' onclick="onresign()"/>
<input type='button' id='btn_draw_suggest' onclick='onsuggestdraw()' value='引き分け提案'/>
